.card-header-label {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
    font-size: 14px;
}

.card-header-logo {
    margin: 15px 2px;
    display: flex;
}

.comment-add-btn {
    vertical-align: bottom;
    margin-left: 10px;
    margin-top: 15px;
}

.comment-input {
    width: 80%;
}

.w-40 {
    width: 40%!important;
}

.vh-100 {
    height: 100vh;
}

.cation-head {
    font-size: 20px;
}

.margin-tl {
    margin-top: 18px!important;
    margin-left: 12px!important;
}

.newsfeed-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.font-38p {
    font-size: 38px!important;
}

.isShow {
    display: none;
}

.isHide {
    display: inline;
}

.fs-18p {
    font-size: 18px;
}