.login-container{
    margin-top: 10px;
}

.cont-1 {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
} 